<h1>Cargar un producto</h1>
<form action="/productos" method="POST">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="title" placeholder="Nombre del producto">
    </div>
    <div class="form-group">
        <label>Precio</label>
        <input type="text" class="form-control" name="price" placeholder="Precio del producto">
    </div>
    <div class="form-group">
        <label>URL foto</label>
        <input type="url" class="form-control" name="thumbnail" placeholder="URL de la foto">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>