<script>
    document.onkeyup = (e) => {
        if (e.target.tagName === 'INPUT') {
            const canSubmit = [...document.forms.form.querySelectorAll('input[type="text"],input[type="url"]')]
                .every(i => {
                    return i.value
                })
            document.forms.form.querySelector('button[type="submit"]').disabled = !canSubmit
        }
    }
</script>
<h1>Ingrese un producto</h1>
<form name="form" action="/productos" method="POST">
    <div class="form-group mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="title" placeholder="Nombre del producto">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Precio</label>
        <input type="text" class="form-control" name="price" placeholder="Precio del producto">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">URL foto</label>
        <input type="url" class="form-control" name="thumbnail" placeholder="URL de la foto">
    </div>
    <div class="button-div">
        <button type="submit" class="btn btn-primary" disabled="disabled">Cargar producto</button>
        <button type="button" class="btn btn-primary"><a href="/productos">Ver todos</a></button>
    </div>
</form>